.menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 20px 0;
}

  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;

}